@model StudentManagement.Models.ViewModel.StudentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Student"))
{
    <div>


        @Html.HiddenFor(m => m.Student.StudentId)
        @Html.DisplayNameFor(m => m.Student.FirstName)
        @Html.TextBoxFor(m => m.Student.FirstName)<br />
        @Html.DisplayNameFor(m => m.Student.LastName)
        @Html.TextBoxFor(m => m.Student.LastName)<br />
        @Html.DisplayNameFor(m => m.Student.DateOfBirth)
        @Html.TextBoxFor(m => m.Student.DateOfBirth, null, new { @class = "datePicker" })<br />
        

        
            <h3>Schools</h3>
            @Html.DropDownListFor(x => x.Schools[0].School.SchoolId, new SelectList(ViewBag.Schools, "SchoolId", "SchoolName"), "School")
        </div>
    
    <div>
        <input type="submit" value="Submit" />

    </div>
}
